//Colores:
$white: #ffffff;
$black: #000000;
$red-nav: rgb(229,34,42);
$red-black: rgb(171,0,3);
$red-target: rgb(255,2,4);
$gray: rgb(150,150,150);
$gray-ligth: rgb(232,232,232);
$gray-dark: rgb(80,80,80);
$gray-footer: rgb(215,215,215);
$gray-logo: rgb(114,114,114);
$gray-blue: rgb(124,147,159);
$blue:rgb(0,138,209);
$blue-lgth: rgb(0, 178, 232);
$blue-ligth:rgb(0,138,209);
// letra:
$font-principal: Lato,sans-serif;
// nav1,button : 13px;
// menu, precio:14px;
// title: 34px;
// detalle-product:10px;
// detalle-title:100%;
// footer:12px;
