@import "variables";
.container-flex-row{
  @extend  %flex-center ;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.container-flex-colum-flxStart{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.fitRoom--input-class , .fitRoom--input-class:focus{
  border-style: none none solid none;
  outline: 0;
  width: 100%
}
.fitRoom--span-class {
  border-style: solid;
}
.fitRoom--span-pd{
  padding: 10px;
}
.fitRoom--button-class{
  background-color: rgb(83, 67, 194);
  border-style: none;
  color: white;
  border-radius: 10px;
}
