@import "variables";
.container-flex-row{
  @extend  %flex-center ;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.container-flex-colum-flxStart{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.fitRoom--input-class , .fitRoom--input-class:focus{
  border-style: none none solid none;
  outline: 0;
}
.fitRoom--span-class {
  border-style: solid;
}
.fitRoom--span-pd{
  padding: 3rem;
}
