@import "owlcarousel";
@import "owlthemedefault";
@import "owlthemegreen";
@import "variables";
@import "colors";
@import "fitRoom";
@font-face {
   font-family: EquitanSans;
   font-weight: regular;
   src: url("EquitanSans/EquitanSans-Regular.otf") format("opentype");
}
*{
  font-size: 1.3rem;
  color: black;
  // text-transform: capitalize;
}
.margin1{
  margin-top: 15px;
}

body {
    font-family: EquitanSans;
}
.boton{
  font-size: 20px;
  margin: 10px;
  padding: 5px 24px;
}

html,body{
  // font-family: $font-principal;
}
#root{
  height: 100vh;
}
header{
  color: white;
  nav.navbar-default{
    margin-bottom: 0;
  }
  button.navbar-toggle{
    float: left;
    margin-left: 15px;

  }
#video{
  width: 100% !important;
}
  a.center{
    padding-left: 30%;
    div.img-size{
      height: 30px;
      width: 30px;
    }
  }
  a.right{
    float: right;
  }
}
.textoInicio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-color: white;
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .close{
    display: none;
  }

}
.img{
position: absolute;
height: 100%;
right: 33%;
}
#canva, #img{
  width: 100%;
}
.navbar-default .navbar-toggle {
   border-color: transparent;
  }
.navbar-header{
    position: relative;
  }
.navbar-default {
   background-color: white !important;
 }
.navbar-toggle:hover {
    background-color: white;
}
section.photo-container{
  background-color: #fffdfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  div.photo-container__cont{
    background-color:#fffdfd;
    div.cont_text{
      padding: 5%;
      text-align: justify;
    }
  }
  div.photo-container__footer{
    background-color: $gray-footer;
    min-height: 60px;
    padding: 5px ;
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    div.img-circle{
      height: 40px;
      width: 40px;
      border: 1px solid $gray-dark;
      i{
        font-size: 25px;
        color: $gray-dark;
        top: 6px;
        left: 6px;
      }
    }
  }
}
section.cont_outfit{
  div.size_img{
    height: 200px;
    width: 200px;
  };
  div.size_img_carousel{
    height: 200px;
    width: 200px;
  }
}

.navbar-header {
    padding: 5px;
    position: relative;
}

header a.center div.img-size {
    height: 50px;
    width: 100px;
}
.navbar-brand {
    height: 50px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
}
header a.center {
    padding-left: 10%;
}
.glyphicon{
margin-top: 8px;
font-size: 32px;
}

section.photo-container div.photo-container__footer div.img-circle i {
    top: -2px;
}
.item{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: transparent;
}
.marginTop{
  padding-left: 45px;
  margin-top: 23px;
}
#mapa{
  height: 250px;
}
.fitRoom--button-class {
  background-color: $red-nav;
}
